.Ball {
  width: 635px;
  height: 650px;
  border-radius: 50%;
  background: linear-gradient(77.49deg, #8CC7C2 20.0%, #F9E6F9 80.00%);
  justify-content: center;
  align-items: center;
  display: flex;
}

.Ball:after {
  content: "";
  display: block;
  font-size: 200px;
  color: #fff;
}



@media (prefers-reduced-motion: no-preference) {
  .Ball {
    animation: Ball-spin infinite 5s linear;
  }
}

@keyframes Ball-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
