.Ball {
  width: 635px;
  height: 650px;
  border-radius: 50%;
  background: linear-gradient(77.49deg, #ddd 20.0%, #aaa 80.00%);
  justify-content: center;
  align-items: center;
  display: flex;
}

.Ball:after {
  content: "";
  display: block;
  font-size: 200px;
  color: #fff;
}

.table-top-spacing {
  margin-top: 50px; /* Adjust this value between 50-100px based on your preference */
}

@media (prefers-reduced-motion: no-preference) {
  .Ball-spinning {
    animation: Ball-spin infinite 5s linear;
    background: linear-gradient(77.49deg, #8CC7C2 20.0%, #F9E6F9 80.00%);
  }
}

@keyframes Ball-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
